*{
    margin-top: 0;
    padding: 0;
}
body {
    background-color: green;
}
.container {
    width: 35%;
    height: 100%;
    margin: 10% auto;
}
.white-keys  {
    display: flex;
}
.black-keys  {
    position: absolute;
    display: flex;
    width: 25%;
    left: 35%;
margin-top: -342px;
}
.whit{
    position: relative;
    border: gray 8px solid;
    padding: 250px 0 40px 0;
    width: 650px;
    background-color: white;
    text-align: center;
    font-size: 32px;
    align-content: center;
}
.blak{
    position: relative;
    border: none;
    padding: 150px 0 40px 0;
    width: 50%;
    background-color: black;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    margin: 0 10px;
}
.blakE {
    left: 20%;
}

